memorycatcherclientlogin/src/conf/xml-resources/web-service-references/memorycatcherclient/wsdl/localhost_8080/memorycatcherclient/memorycatcherclient.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://memorycatcherclient/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://memorycatcherclient/" name="memorycatcherclient">
<types>
<xsd:schema>
<xsd:import namespace="http://memorycatcherclient/" schemaLocation="http://localhost:8080/memorycatcherclient/memorycatcherclient?xsd=1"/>
</xsd:schema>
</types>
<message name="register">
<part name="parameters" element="tns:register"/>
</message>
<message name="registerResponse">
<part name="parameters" element="tns:registerResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="addResources">
<part name="parameters" element="tns:addResources"/>
</message>
<message name="addResourcesResponse">
<part name="parameters" element="tns:addResourcesResponse"/>
</message>
<message name="addMessage">
<part name="parameters" element="tns:addMessage"/>
</message>
<message name="addMessageResponse">
<part name="parameters" element="tns:addMessageResponse"/>
</message>
<message name="shareResources">
<part name="parameters" element="tns:shareResources"/>
</message>
<message name="shareResourcesResponse">
<part name="parameters" element="tns:shareResourcesResponse"/>
</message>
<message name="addMemory">
<part name="parameters" element="tns:addMemory"/>
</message>
<message name="addMemoryResponse">
<part name="parameters" element="tns:addMemoryResponse"/>
</message>
<message name="removeMemory">
<part name="parameters" element="tns:removeMemory"/>
</message>
<message name="removeMemoryResponse">
<part name="parameters" element="tns:removeMemoryResponse"/>
</message>
<message name="viewResources">
<part name="parameters" element="tns:viewResources"/>
</message>
<message name="viewResourcesResponse">
<part name="parameters" element="tns:viewResourcesResponse"/>
</message>
<message name="getAllMemories">
<part name="parameters" element="tns:getAllMemories"/>
</message>
<message name="getAllMemoriesResponse">
<part name="parameters" element="tns:getAllMemoriesResponse"/>
</message>
<portType name="memorycatcherclient">
<operation name="register">
<input wsam:Action="http://memorycatcherclient/memorycatcherclient/registerRequest" message="tns:register"/>
<output wsam:Action="http://memorycatcherclient/memorycatcherclient/registerResponse" message="tns:registerResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://memorycatcherclient/memorycatcherclient/loginRequest" message="tns:login"/>
<output wsam:Action="http://memorycatcherclient/memorycatcherclient/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="addResources">
<input wsam:Action="http://memorycatcherclient/memorycatcherclient/addResourcesRequest" message="tns:addResources"/>
<output wsam:Action="http://memorycatcherclient/memorycatcherclient/addResourcesResponse" message="tns:addResourcesResponse"/>
</operation>
<operation name="addMessage">
<input wsam:Action="http://memorycatcherclient/memorycatcherclient/addMessageRequest" message="tns:addMessage"/>
<output wsam:Action="http://memorycatcherclient/memorycatcherclient/addMessageResponse" message="tns:addMessageResponse"/>
</operation>
<operation name="shareResources">
<input wsam:Action="http://memorycatcherclient/memorycatcherclient/shareResourcesRequest" message="tns:shareResources"/>
<output wsam:Action="http://memorycatcherclient/memorycatcherclient/shareResourcesResponse" message="tns:shareResourcesResponse"/>
</operation>
<operation name="addMemory">
<input wsam:Action="http://memorycatcherclient/memorycatcherclient/addMemoryRequest" message="tns:addMemory"/>
<output wsam:Action="http://memorycatcherclient/memorycatcherclient/addMemoryResponse" message="tns:addMemoryResponse"/>
</operation>
<operation name="removeMemory">
<input wsam:Action="http://memorycatcherclient/memorycatcherclient/removeMemoryRequest" message="tns:removeMemory"/>
<output wsam:Action="http://memorycatcherclient/memorycatcherclient/removeMemoryResponse" message="tns:removeMemoryResponse"/>
</operation>
<operation name="viewResources">
<input wsam:Action="http://memorycatcherclient/memorycatcherclient/viewResourcesRequest" message="tns:viewResources"/>
<output wsam:Action="http://memorycatcherclient/memorycatcherclient/viewResourcesResponse" message="tns:viewResourcesResponse"/>
</operation>
<operation name="getAllMemories">
<input wsam:Action="http://memorycatcherclient/memorycatcherclient/getAllMemoriesRequest" message="tns:getAllMemories"/>
<output wsam:Action="http://memorycatcherclient/memorycatcherclient/getAllMemoriesResponse" message="tns:getAllMemoriesResponse"/>
</operation>
</portType>
<binding name="memorycatcherclientPortBinding" type="tns:memorycatcherclient">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="register">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addResources">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addMessage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="shareResources">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addMemory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeMemory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewResources">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllMemories">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="memorycatcherclient">
<port name="memorycatcherclientPort" binding="tns:memorycatcherclientPortBinding">
<soap:address location="http://localhost:8080/memorycatcherclient/memorycatcherclient"/>
</port>
</service>
</definitions>