memorycatcherclientlogin/src/conf/xml-resources/web-service-references/memorycatcherclient/wsdl/localhost_8080/memorycatcherclient/memorycatcherclient.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://memorycatcherclient/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://memorycatcherclient/">

<xs:element name="addMemory" type="tns:addMemory"/>

<xs:element name="addMemoryResponse" type="tns:addMemoryResponse"/>

<xs:element name="addMessage" type="tns:addMessage"/>

<xs:element name="addMessageResponse" type="tns:addMessageResponse"/>

<xs:element name="addResources" type="tns:addResources"/>

<xs:element name="addResourcesResponse" type="tns:addResourcesResponse"/>

<xs:element name="getAllMemories" type="tns:getAllMemories"/>

<xs:element name="getAllMemoriesResponse" type="tns:getAllMemoriesResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="register" type="tns:register"/>

<xs:element name="registerResponse" type="tns:registerResponse"/>

<xs:element name="removeMemory" type="tns:removeMemory"/>

<xs:element name="removeMemoryResponse" type="tns:removeMemoryResponse"/>

<xs:element name="shareResources" type="tns:shareResources"/>

<xs:element name="shareResourcesResponse" type="tns:shareResourcesResponse"/>

<xs:element name="viewResources" type="tns:viewResources"/>

<xs:element name="viewResourcesResponse" type="tns:viewResourcesResponse"/>

<xs:complexType name="addResources">
<xs:sequence>
<xs:element name="resources" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addResourcesResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllMemories">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllMemoriesResponse">
<xs:sequence>
<xs:element name="return" type="tns:memory" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="memory" final="extension restriction">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addMemory">
<xs:sequence>
<xs:element name="memoryName" type="xs:string" minOccurs="0"/>
<xs:element name="memoryDescription" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addMemoryResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeMemory">
<xs:sequence>
<xs:element name="memoryID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeMemoryResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="shareResources">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="resources" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="shareResourcesResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addMessage">
<xs:sequence>
<xs:element name="sender" type="xs:string" minOccurs="0"/>
<xs:element name="messageName" type="xs:string" minOccurs="0"/>
<xs:element name="messageContent" type="xs:string" minOccurs="0"/>
<xs:element name="receiver" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addMessageResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewResources">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="viewResourcesResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="register">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registerResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>